* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator {
    width: 500px;
    height: 600px;
    background: rgb(139, 139, 230);
    border-radius: 10px;
    overflow: hidden;
}

header {
    background: black;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .screen {
    background: gray;
    width: 460px;
    height: 110px;
    border-radius: 10px;
    color: white;
    font-size: 2rem;
    text-align: center;
}

main {
    height: 400px;
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

main div {
    background: rgb(206, 203, 203);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    border-radius: 10px;
    cursor: pointer
}